body {
  color: aliceblue;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}
a {
  color: #4caf4f;
}
.container {
  margin: 45px auto;
  background: black;
  background-color: rgba(80, 80, 80, 0.7);
  padding: 30px;
  width: 100%;
  max-width: 800px;
  border-radius: 16px;
}
