body {
  color: aliceblue;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}
a {
  color: #62929a;
  font-weight: 600;
}
.container {
  margin: 45px auto;
  background: black;
  background-color: rgba(80, 80, 80, 0.7);
  padding: 30px;
  width: 100%;
  max-width: 800px;
  border-radius: 28px;
}

header {
  border-bottom: 0.1px solid #62929a;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #efecec;
  border: none;
  border-radius: 980px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #62929a;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 980px;
  color: white;
  font-weight: 500;
}
.search-form-button:hover {
  cursor: pointer;
}

section {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(225, 225, 225, 0.7);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #bae8e8;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 15px;
  margin-right: -10px;
}

.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 22px;
  font-size: 30px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  /* margin: 5px; */
}

.weather-forecast-date {
  text-align: center;
  color: rgba(225, 225, 225, 0.7);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 16px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #bae8e8;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 6px;
}

footer {
  border-top: 0.1px solid #62929a;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(225, 225, 225, 0.8);
}
